


<div *ngIf="marketData" class="list">
    <div *ngFor="let item of marketData" >
        <div class="container">
            <img src="https://cdn.pixabay.com/photo/2018/01/18/07/31/bitcoin-3089728_1280.jpg" alt="Description of the image">
            <div class="name">{{item.name}}</div>
            <div class="price"><p>${{item.lastPrice/2}} &nbsp;&nbsp;<del>${{item.lastPrice}} &nbsp;</del> <span class="discount">50% off</span></p></div>
            <div class="info">Only few left</div>
            <button (click)="addToCart(item)">add to cart</button>
        </div>
    </div>
</div>

<div *ngIf="cartItems | async as items" class="list">

    <table mat-table [dataSource]="items" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> price </th>
          <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

