


<div *ngIf="marketData" class="list">
    <div *ngFor="let item of marketData" >
        <div class="container">
            <img src="https://cdn.pixabay.com/photo/2018/01/18/07/31/bitcoin-3089728_1280.jpg" alt="Description of the image">
            <div class="name">{{item.name}}</div>
            <div class="price"><p>${{item.lastPrice/2}} &nbsp;&nbsp;<del>${{item.lastPrice}} &nbsp;</del> <span class="discount">50% off</span></p></div>
            <div class="info">Only few left</div>
            <!-- <div><button>plus</button><button>minus</button></div> -->
            <button (click)="updateCart(item)">add to cart</button>
        </div>
    </div>
</div>



